* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-snap-type: mandatory;
}
body {
    position:relative;
}
#home .container, #cards .container-fluid, #about .container, #play_cards .container, #instructions_container, #loading_container  {
    min-height: 100svh;
    scroll-snap-align: start;
}
.card_btn {
    width: 120px;
}

#card_maker {
    width: 60vw;
    min-width: 350px;
    max-width: 750px;
}
#card_maker, .flashcard, #flashcard_quiz {
    
    height: 520px;
    box-shadow: 0px 2px 8px;
}
#question_input, #answer_input {
    resize: none;
}

.flashcard, #flashcard_quiz {
    min-width: 325px;
    width: 25vw;
    max-width: 450px;
    border: 2px solid black;
    margin-top: 4dvh;
    overflow-wrap: break-word;
    font-size: clamp(1.2rem, 1.75vw + 0.5rem, 1.5rem);
    transition: 0.25s  ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.flashcard:hover {
    cursor: pointer;
    transform: scale(1.05);
}
#flashcard_quiz {
    max-width: 500px;
    min-width: 350px;
    min-height: 575px;
    height: 75svh;
    max-height: 600px;
}
.divider {
    height: 64px;
    margin-bottom: 24px;
}

#score_card {
    width: 40vw;
    min-width: 350px;
    max-width: 400px;
    margin: auto;
}

#display_score {
    font-size: clamp(1.5rem, 2.5vw + 0.5rem, 3rem)
}

#delete_cards_modal, #small_modal {
    width: 25vw;
    max-width: 400px;
    min-width: 375px;
    height: 275px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#small_modal {
    height: 175px;
}

#delete_cards_modal .modal_btn {
    width: 100px;
}

#modal_bg {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100svh;
    background-color: rgba(46, 46, 46, 0.342);
}

#loading_text {
    stroke: rgb(20, 20, 20);
    fill: transparent;
    animation: 3s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite alternate loading_animation;
    font-size: clamp(0.5rem, 1vw + 0.25rem, 0.75rem);
}
#loading_text2, #hahaha {
    font-size: clamp(0.25rem, 1vw + 0.25rem, 0.75rem);
    animation: 3s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite alternate fade_in;
}
#site_content {
    animation: 500ms ease-in-out zoom_out;
}

#hahaha {
    font-size: 2rem;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        filter: blur(2px);
    }
    25% {
        filter: blur(0);
    }
    50%,
    100%{
        opacity: 1;
    }
}

@keyframes zoom_out  {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes loading_animation {
    0% {
        stroke: rgb(20, 20, 20);
        fill: transparent;
        stroke-dashoffset: 10%;
        stroke-dasharray: 0 10%;
    }
    50% {
        stroke: rgb(20, 20, 20);
        fill: transparent;
    }
    65% {
        stroke-width: 1.5;
        stroke: rgb(20, 20, 20);
        fill: transparent;
        stroke-dashoffset: -10%;
        stroke-dasharray: 10% 0;
    }
    85%,
    100% {
        fill: rgb(20, 20, 20);
        stroke: transparent;
    }
}



